# Authentik
AUTHENTIK_URL=https://auth.hacker-haus.org
AUTHENTIK_TOKEN=

# MikroTik
MIKROTIK_URL=https://10.10.10.1
MIKROTIK_USER=vpn-manager
MIKROTIK_PASSWORD=

# VPN
VPN_SUBNET=10.10.11.0/24
WG_INTERFACE=wireguard1
VPN_GROUP=vpn-users
VPN_ENDPOINT=vpn.hacker-haus.org
VPN_PORT=51820
VPN_DNS=10.10.11.1
